footer{
    background-color: #074160;
    .container{
        padding-top: 3%;
    }
    ul{
        li{
            a{
                font-size: 16px;
            }
        }
    }
    .contact-credentials,.social-network{
        color: #FDC561;
    }
    .social-network{
        i{
            font-size: 24px;
        }
    }
    .copyright{
        font-weight: bold;
    }
}