.products-mobile{
    display: none;
}
.products {
    .products-left {
        background: url('../images/2.jpg');
        .dynamic-box {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 64%;
            background-color: rgba(200,208,212, .6);
            display: flex;
            animation-duration: .5s;

            .dynamic-selected{
                h2{
                   margin-right: 12%;
                    color: #052C41;
                    font-size: 3.5vw;
                }
                p{
                    margin-right: 12%;
                    margin-left: 12%;
                    margin-bottom: 5%;
                    font-size: 1.15vw;
                }
                button{
                    background-color: transparent;
                    border: 2px solid #052C41;
                    padding: 3%;
                    transition: .3s ease all;
                    font-family: 'Gotham Bold';
                    letter-spacing: 1px;
                    margin-bottom: 5%;
                    &:hover{
                        color: #ffffff;
                        background-color: #052C41;
                    }
                }
            }
        }
    }
    .products-right {
        .product-title-container {
            background-color: #052C41;
            h2 {
                color: #ffffff;
                padding-top: 4%;
                padding-right: 7%;
                font-size: 4vw;
            }
            p {
                padding-right: 7%;
            }
        }
        .product-items-container {
            .active-item{
                background-color: #FDC561;
                    i {
                        border: solid #ffffff;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 3px;
                        margin-left: 1.5vw;
                    }
            }
            button {
                padding-right: 10%;
                padding-top: 7%;
                padding-bottom: 7%;
                margin-top: 0;
                margin-bottom: 0;
                border: none;
                cursor: pointer;
                transition: .3s ease all;
                background-color: transparent;
                &:hover {
                    background-color: #FDC561;
                    i {
                        border: solid #ffffff;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 3px;
                        margin-left: 1.5vw;
                    }
                }
            }
        }
        i {
            border: solid #FDC561;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-left: 1.5vw;
        }
        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }
    }
}